body {
  /*background: #E5E5E5;*/
  background: white;
}

.stately {
  width: 800px;     /* width and font size must match */
  font-size: 800px; /*width and font size must match */
  color: #D8D8D8;
  background: none;
}

.stately .fl,
.stately .ga,
.stately .ky,
.stately .in,
.stately .md,
.stately .ms,
.stately .nc,
.stately .oh,
.stately .tx,
.stately .wa,
.stately .wi {
  /*color: #F0CA9B;*/
  color: #BBB;
}

/*.stately .fl { color: #8E9B75; }*/
/*.stately .ga { color: #F55C23; }*/
/*.stately .ky { color: #875183; }*/
/*.stately .in { color: #084A7B; }*/
/*.stately .md { color: #DD1927; }*/
/*.stately .ms { color: #C03C26; }*/
.stately .nc { color: #F29A2A; }
/*.stately .oh { color: #B3A773; }*/
/*.stately .tx { color: #95B7B5; }*/
/*.stately .wa { color: #768C77; }*/
/*.stately .wi { color: #E67355; }*/
